$font-stack: Helvetica, sans-serif;
$topnav-bg: #333;

:root {
	--bg: #ffffff;
	--text: #222222;
	--primary: #0d4efd;
}

[data-theme="dark"] {
	--bg: #404040;
	--text: #f1f1f1;
	--primary: #66b2ff;
}

body {
	background: var(--bg);
	color: var(--text);
	font: 100% $font-stack;
}

table {
	padding: 2px;
	text-align: left;
}

th {
	border-bottom: solid;
}

.topnav {
	background-color: $topnav-bg;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 50px;
	a {
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		box-sizing: border-box;
		height: 100%;
	}
	a:hover {
		background-color: #ddd;
		color: black;
	}
	a.active {
		background-color: var(--primary);
		color: white;
	}
}

.themeToggleContainer {
	height: 100%;
	aspect-ratio: 1/1;
	margin-left: auto;
	padding: 2px;
	box-sizing: border-box;
}

#themeToggle {
	height: 100%;
	display: block;
}